.App {
  display: flex;
  flex-direction: column;
}

.App-header, footer {
  height: 50px;
  padding: 10px;
  color: grey;
  font-size: 18px;
  text-align: center;
}

.App-picker {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}

